/* Settings */
.hidden {
  display: none;
}

.toggle-settings-button {
  display: block;
  margin-bottom: 10px;
}

.settings-content {
  margin-top: 10px;
}

.settings label {
  display: inline-block;
  width: 200px;
}

.settings input {
  width: 200px;
  margin-bottom: 10px;
}

.container {
  position: relative;
}

.help-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Light mode styles */
body.light-mode {
  background-color: #fff;
  color: #333;
}

body.light-mode .container {
  background-color: #fff;
}

body.light-mode h1 {
  color: #333;
}

body.light-mode .button {
  background-color: #333;
}

body.light-mode input[type="text"],
body.light-mode input[type="number"] {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 6px 10px;
  border: none;
  margin-bottom: 10px;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode .container {
  background-color: #333;
}

body.dark-mode h1 {
  color: #fff;
}

body.dark-mode .button {
  background-color: #fff;
  color: #333;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="number"] {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  padding: 6px 10px;
  border: none;
  margin-bottom: 10px;
}